[Desktop Entry]
Name=MacSonoma-light
X-KDE-PluginInfo-Name=MacSonoma-light
X-KDE-PluginInfo-Author=Vince Liuice
X-KDE-PluginInfo-Email=vinceliuice@hotmail.com
X-KDE-PluginInfo-License=CC BY-NC-SA 3.0
