[Desktop Entry]
Name=MacSonoma-Dark
Comment=Macos Sonoma dark theme for kde plasma
Encoding=UTF-8
Keywords=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;
Type=Service

X-KDE-ParentApp=
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Author=Vince Liuice
X-KDE-PluginInfo-Email=vinceliuice@hotmail.com
X-KDE-PluginInfo-License=GPL3.0
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Name=com.github.vinceliuice.MacSonoma-Dark
X-KDE-PluginInfo-Website=https://github.com/vinceliuice/MacSonoma-kde
X-KDE-fallbackPackage=org.kde.breeze.desktop
X-Plasma-MainScript=defaults

X-KPackage-Dependencies=kns://colorschemes.knsrc/api.kde-look.org/2053171,kns://plasma-themes.knsrc/api.kde-look.org/2053177,kns://aurorae.knsrc/api.kde-look.org/2053170,kns://wallpaper.knsrc/api.kde-look.org/2053172,kns://sddmtheme.knsrc/api.kde-look.org/2053167,kns://icons.knsrc/api.kde-look.org/1405756,kns://xcursor.knsrc/api.kde-look.org/1411743
